Source: opennetadmin
Section: unknown
Priority: optional
Maintainer: Christopher Huhn, GSI <C.Huhn@gsi.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://opennetadmin.com/
#Vcs-Git: git://anonscm.debian.org/collab-maint/opennetadmin.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/opennetadmin.git;a=summary

Package: opennetadmin
Architecture: all
Depends: ${misc:Depends}, dbconfig-common, famfamfam-silk, php-xajax
Recommends: mysql-client
Description: IP Address Management (IPAM) system
 OpenNetAdmin provides a database managed inventory of your IP network.
 Each subnet, host, and IP can be tracked via a centralized AJAX enabled web
 interface that can help reduce tracking errors.
 .
 A full CLI interface is available as well to use for scripting and bulk work.
