<?php

// database_settings.inc.php template filled out by db-config-common

$db_type = '_DBC_DBTYPE_';

// adodb in stretch dropped support for mysql in favor of mysqli
if ($db_type == 'mysql' && version_compare(PHP_VERSION, '7.0.0') >= 0) {
    $db_type = 'mysqli';
}

$ona_contexts=array (
  'DEFAULT' =>
  array (
      'databases' =>
      array (
          0 =>
          array (
              'db_type'     => $db_type,
              'db_host'     => '_DBC_DBSERVER_',
              'db_login'    => '_DBC_DBUSER_',
              'db_passwd'   => '_DBC_DBPASS_',
              'db_database' => '_DBC_DBNAME_',
              'db_debug'    => false,
          ),
      ),
      'description' => 'Default data context',
      'context_color' => '#D3DBFF',
  ),
);

?>
