<?php

// database_settings.inc.php template filled out by db-config-common

$ona_contexts=array (
  'DEFAULT' =>
  array (
      'databases' =>
      array (
          0 =>
          array (
              'db_type'     => '_DBC_DBTYPE_',
              'db_host'     => '_DBC_DBSERVER_',
              'db_login'    => '_DBC_DBUSER_',
              'db_passwd'   => '_DBC_DBPASS_',
              'db_database' => '_DBC_DBNAME_',
              'db_debug'    => false,
          ),
      ),
      'description' => 'Default data context',
      'context_color' => '#D3DBFF',
  ),
);

?>
