#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')

# main packaging script based on dh7 syntax
%:
	dh $@ --with quilt --with apache2

override_dh_install:
	dh_install --list-missing
# cleanup silk icons
# FIXME: rework dfsg_clean branch instead
	-rm -rv debian/opennetadmin/usr/share/opennetadmin/images/silk \
		debian/opennetadmin/usr/share/opennetadmin/include/adodb5
	cp debian/dbconfig.script debian/opennetadmin/usr/share/dbconfig-common/scripts/opennetadmin/install/mysql
	cp debian/dbconfig.script debian/opennetadmin/usr/share/dbconfig-common/scripts/opennetadmin/upgrade/mysql/$(DEB_VERSION)
#   this file has to be modified to be useful: move it to /etc/opennetadmin and strip some comment lines:
	sed -e 2,4d debian/opennetadmin/usr/share/opennetadmin/workspace_plugins/builtin/host_actions/config.inc.php \
		> debian/opennetadmin/etc/opennetadmin/host_actions.config.php
	rm debian/opennetadmin/usr/share/opennetadmin/workspace_plugins/builtin/host_actions/config.inc.php
